body {
	font-family: 'Open Sans';
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

a:link {
	text-decoration: none;
}

.spacer {
	margin-bottom: 15px;
}

.rounded {
	border-radius: 5px;
}

/* make the navbar taller */
.navbar-brand, .navbar-nav li a {
    line-height: 55px;
    height: 55px;
    padding-top: 0;
    font-size: 14px;
}

div.navbar {
	background: #b31b1b;
	color: #fff;
	border: none;
	margin-bottom: 15px;
}

#shh {
	float: left;
	margin: 0 10px 0 0;
}

div.navbar a {
	color: #fff !important;
}

div.navbar li:hover {
	background: rgba(0, 0, 0, 0.08);
}

a.navbar-brand {
	font-family: 'Playfair Display';
	font-size: 35px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	letter-spacing: -1px;
}

span.brand-text {
	position: relative;
	top: -2px;
}

li.logged-in a i {
	color: #d4c784;
}

div.thread-preview {
	margin: 0 0 5px 0;
	padding: 0;
}

div.thread-index-content {
	display: inline-block;
	float: left;
}

h2.thread-index-title {
	margin: 5px 0 3px 0;
	font-size: 16px;
}

h2.thread-index-title a {
	color: #252525;
	text-decoration: none;
}

p.thread-index-subtitle {
	margin: 0 0 5px 0;
	color: #999;
}

div.thread-intro {
	padding: 0;
	margin: 0;
	border-bottom: 1px dotted #ccc;

}

div#comments {
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
}

div.no-comments-padder {
	margin-bottom: 15px;
}

h5.new-comment-header {
	font-size: 16px;
	margin: 0 0 15px 0;
}

a.posting-tips {
	font-size: 80%;
}

div#reply-area {
	margin: 0 0 25px 0;
}

h3.thread-title, input.thread-title {
	font-size: 20px;
	margin: 5px 0 5px 0;
}

h4.thread-subtitle {
	font-size: 14px;
	color: #999;
	margin: 0 0 10px 0;
}

div.thread-actions {
	margin: 0 0 15px 0;
}

div.thread-actions .btn {
	margin-right: 5px;
}

div.thread-actions .btn-default {
	color: #666;
}

div.post-body {
	margin: 5px 0 15px 0;
}

div.comment div.post-body {
	margin: 0 0 5px 0;
}

div.post-body img {
	max-width: 600px;
	max-height: 600px;
	border-radius: 5px;
}

div.post-body blockquote {
	display: inline-block;
	color: #555;
	font-size: 14px;
	margin: 0;
	padding: 8px 12px;
	background: rgba(145, 187, 224, 0.12);
	border-left: 5px solid #91bbe0;
}

div.comment {
	position:relative;
	margin: 20px 0;
	word-wrap: break-word;
}

div.separator {
	border-bottom: 1px dotted #ccc;
}

div.comment-user-frame {
	float: left;
	padding: 10px 15px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.05);
}

div.comment-op div.comment-user-frame, div.comment-me div.comment-user-frame {
	padding: 12px;
	color: #666;
	font-size: 13px;
}

i.anonymous-user-icon {
	color: rgba(0, 0, 0, 0.4);
	font-size: 16px;
}

div.comment-content {
	margin: 0 0 0 65px;
}

p.comment-time {
	display: inline-block;
	color: #999;
	margin: 0;
	font-size: 14px;
}

div.comment-actions {
	display: inline-block;
}

div.comment-actions > .comment-action {
	color: #bbb !important;
	cursor: pointer;
	margin: 0 0 0 15px;
}

div.comment-actions a:hover, div.comment-actions span:hover {
	color: #999 !important;
}

#new-comment-form {
	margin: 0;
}

#edit-comment-form {

}

#new-comment-form .checkbox {
	margin: 0;
}

#new-comment-form div.no-bump {
	margin: 0 0 0 10px;
}

div.outer-textarea-container {
	position: relative;
}

div.formatting-buttons {
	position: absolute;
	width: 25px !important;
	top: 15px;
	right: 20px;
}

textarea.with-formatting-buttons {
	padding-right: 65px;
}

div.formatting-buttons ul {
	height: 32px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.formatting-buttons ul li {
	display: inline-block;
	margin: 0 0 5px 0;
	line-height: 31px;
	height: 32px;
	width: 32px;
	padding: 0;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	color: #888;
}

div.formatting-buttons ul li:hover {
	background: rgba(0, 0, 0, 0.05);
}

div.formatting-buttons ul li:active {
	color: #333;
	background: #ddd;
}

div.formatting-buttons ul li.formatting-help {
	background: transparent;
}

div.formatting-buttons ul li.formatting-help:hover {
	background: transparent;
	background: rgba(66, 139, 202, 0.05);
}

li.formatting-help a {
	display: block;
}

div.form-group.errors {
	color: #b31b1b;
}

span.new-thread-notification, span.new-comment-notification {
	display: inline-block;
	position: relative;
	top: -1.5px;
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 0 5px;
}

a.no-account-yet {
	margin-left: 10px;
}

/* tweak the way bootstrap looks for inputs */
.form-control:focus{
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control {
	border-radius: 3px;
	padding: 10px 15px;
}

/* sticky footer */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 50px;
	background: #ededed;
	color: #666;
}

#footer p {
	margin: 0;
	line-height: 50px;
}

@media only screen and (max-device-width: 480px) {
    #footer {
        height: auto;
    }
}
